@tailwind base;
@tailwind components;
@tailwind utilities;

/* light to dark */
/* #859CA8 #5299AB #23627C    */

/* #23627C <- old theme color */
/* #003dd6 <- new blue (test) */
body {
  background-color: #e5e5e5;
}

* {
  scroll-behavior: smooth;
}

#navbar {
  z-index: 1000;
}

[name="honeypot"] {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #23627C;
  border-radius: 9px;
  border: 3px solid #23627C;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}
