@tailwind base;
@tailwind components;
@tailwind utilities;

/* light to dark */
/* #859CA8 #5299AB #23627C    */

:root {
  --primary-color: #0c82ff;
}

body {
  background-color: #e5e5e5;
}

#navbar {
  z-index: 1000;
}

[name="honeypot"] {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #23627c;
  border-radius: 9px;
  border: 3px solid #23627c;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}
